# write gitignore file
node_modules/
.env        
.DS_Store
.vscode/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log* 
coverage/
.idea/
*.iml           
.cache/
*.sqlite
*.sqlite3
thumbs.db
*.bak   

# add uploads folder to gitignore but keep the folder itself    
uploads/*
!uploads/.gitkeep

# add encrypted folder to gitignore but keep the folder itself
encrypted/*
!encrypted/.gitkeep

# add images folder to gitignore but keep the folder itself
images/*
!images/.gitkeep

# add decrypted folder to gitignore but keep the folder itself
decrypted/*
!decrypted/.gitkeep